button {
    height: 30px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

div.radio {
    width: 200px;
}

#param_relaxed,
#param_transpose {
    width: 20px;
}